<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Getting Started: Serving Web Content</title>-->
    <title th:if="${visitor != null AND visitor != ''}" th:text="'Hi ' + ${visitor} + ', I hope you interested to hire me.'"></title>
    <title th:unless="${visitor != null AND visitor != ''}">This is my CV.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


</head>
<body>
    <div class="container bg-light">
        <!--header-->
        <div class="row">
            <!--foto-->
            <div class="col-sm">
                <img title="" th:src="@{img/foto_noor.JPG}" height="200vw" width="200vw" class="img-fluid rounded-circle">
                <!--<img src="" alt="">-->
            </div>
            <!--nama sm ttl-->
            <div class="col-9">
                <div class="row">
                    <h3 th:if="${visitor == null}">Hello there, I'm</h3>
                    <h3 th:unless="${visitor == null}" th:text="'Hi ' + ${visitor} + ', I am'"></h3>
                </div>
                <div class="row">
                    <h1>Dzaky Noor Hasyim</h1>
                </div>

                <div class="row">
                    <p>Born in Yogyakarta, January 7th, 1999</p>
                </div>

            </div>
        </div>

        <div class="row bg-white" style="margin: 10px">
            <div style="margin: 10px">
                <h3>Education</h3>
            </div>
        </div>

        <div class="row bg-white" style="margin: 10px">
            <div style="margin: 10px">
                <h3>Etc</h3>
            </div>
        </div>
    </div>
</body>
</html>
